@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* ----- LIGHT MODE ----- */
:root {
  --background-image: linear-gradient( 111.4deg,  rgb(254, 198, 198) 1%, rgb(254, 239, 205) 58% );
  --text-color: #232c4a;
  --navbar-background-color: rgba(0,6,19,0.85);
  --text-color-placeholder: rgba(62, 69, 91, .5);
  --darker-muted-background: rgba(35, 44, 74,.3);
  --text-color-contrast: rgb(255, 232, 201);
  --box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  --hover-button-color: rgba(213, 21, 21, 0.75);
  --feature-background: rgba(255,255,255,.2); 
  --feature-text-background: rgba(237, 200, 175, 0.5);
  --feature-text-color: #fce0a8;
  --ticket-li-background: rgba(241, 174, 152, 0.5);
  --ticket-li-background-hover: var(--hover-button-color);
  --ticket-container-shadow: var(--box-shadow);
  --ticket-category-background: rgba(255, 255, 255, 0.5);
  --ticket-category-border: var(--ticket-category-background);
  --ticket-scroll-bar: rgba(255, 158, 158, 0.75) var(--text-color-contrast);
  --ticket-cat-hover-color: rgb(255, 255, 255);
  --ticket-cat-hover-shadow: 0 10px 40px rgba(0, 0, 0, .5);
}

/* ----- DARK MODE ----- */
body.dark {
  --background-image: linear-gradient( 111.4deg,  rgb(56, 35, 35) 1%, rgb(4, 7, 27) 58% );
  --text-color: rgb(255, 232, 201);
  --navbar-background-color: rgba(0,6,19,0.85);
  --text-color-placeholder: rgba(255, 232, 201,0.5);
  --text-color-contrast: #232c4a;
  --box-shadow: 0 0 40px rgba(255, 123, 123, .7);
  --hover-button-color: rgba(255, 255, 255, 0.75);
  --feature-background: rgba(0, 0, 0, 0.2); 
  --feature-text-background: rgba(234, 80, 80, 0.25);
  --feature-text-color: var(--text-color);
  --ticket-li-background: rgba(85, 56, 56, .5);
  --ticket-li-background-hover: rgba(183, 78, 78, 0.75);
  --ticket-container-shadow: 0 0 10px rgb(255, 188, 188);
  --ticket-category-background: var(--navbar-background-color);
  --ticket-scroll-bar: rgba(255, 158, 158, 0.75) var(--navbar-background-color);
  --ticket-category-border: rgba(174, 174, 174, 0.5);
  --ticket-cat-hover-color: rgba(34, 34, 34, 0.5);
  --ticket-cat-hover-shadow: 0 10px 40px rgba(255, 188, 188,.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: var(--background-image);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.theme-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  border: 2px solid;
  border-radius: 50%;
  stroke: var(--text-color);
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: var(--text-color);
}

.fab-position {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.theme-toggle-btn:hover {
  transform: scale(1.1);
}

.theme-toggle-btn svg {
  width: 24px;
  height: 24px;
  transition: color 0.3s ease;
}

.root-layout {
  display: flex;
  justify-content: space-evenly;
}

body, .about-page, .feature-section, .feature-text, .about-list-item, .theme-toggle-btn, .wrapper {
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease;
}

@media (max-width: 768px) {
  .root-layout {
    flex-direction: column;
  }

  body, button, input, textarea {
    font-size: 14px;
  }

  body {
    background-size: auto 100%;
    background-position: top center;
  }
}

@media (max-width: 480px) {
  body, button, input, textarea {
    font-size: 12px;
  }
  
  .root-layout {
    padding: 10px;
  }
}