@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('./components/Assets/Num2.jpg') no-repeat;
  /* background: url('./components/Assets/Num3.jpg') no-repeat; */
  /* background: url('./components/Assets/Dark\ Retro\ Warm\ Glow.jpg') no-repeat; */
  background-size: cover;
  background-position: center;
}

body .login-div {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}