/* --------------- ALL QUADRANTS --------------- */

.sprint-div-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
    height: 80vh;
    margin: 20px auto;
}

.Q1-container, .Q2-container, .Q3-container, .Q4-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(82, 82, 82, 0.1);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.18);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.Q1-container:hover, .Q2-container:hover, .Q3-container:hover, .Q4-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.1);
}

.Q1-container .content, .Q2-container .content, .Q3-container .content, .Q4-container .content {
    margin: 20px;
}

@media (max-width: 1200px) {
    .sprint-div-container {
        grid-template-columns: 1fr; /* Stack the quadrants vertically on smaller screens */
        min-width: 0; /* Allows the container to adjust to smaller screens */
        gap: 15px;
    }
}

/* --------------- Q1 --------------- */
.Q1-container h3 {
    margin-bottom: 20px;
}

.Q1-container button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.q1-title {
    font-size: 20px;
}

.Q1-container button:hover {
    background-color: #0056b3;
}

.Q1-container div {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.Q1-container .q1-analytics {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    font-size: 14px;
    color: #333;
}
.Q1-container .q1-analytics div {
    margin: 5px 0;
}

.Q1-container .loading, .Q1-container .error {
    color: #6c757d;
    font-style: italic;
}

/* --------------- Q2 --------------- */
.Q2-container button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.Q2-container button:hover {
    background-color: #0056b3;
}


/* --------------- Q3 --------------- */
.q3-ul {
    list-style: none;
    padding: 0 ;
}


/* --------------- Q4 --------------- */
.Q4-container div{
    width: 100%;
    height: 100%;
}