.error-message {
    font-size: 13px;
    font-weight: 500;
    color: rgb(225, 109, 109);
    margin-top: 6px;
}

.success-message {
    font-size: 13px;
    font-weight: 500;
    color: rgb(185, 218, 185);
    margin-top: 6px;
}