.close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    display: block; 
    width: fit-content;
    margin-left: auto; 
    margin-right: 0;
    align-items: right;
}

.close-button:hover, .close-button:focus {
    background-color: #d32f2f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    margin-left: auto;
}

.submit-button:hover, .submit-button:focus {
    background-color: #45a049;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    /* background: linear-gradient(180deg, #000000, #2d2d2d); */
    background: var(--navbar-background-color);
    padding: 14px 28px;
    border-radius: 20px;
    width: 750px;
    height: 600px;
    animation: fadeInModal .25s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: auto; 
}

.modal-body {
    overflow-y: auto;
    flex-grow: 1;
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input, .assign-dropdown, .comment-input {
    width: 100%;
    margin-bottom: 0px;
    box-sizing: border-box;
}

label {
    display: block;
    color: #EAEAEA;
}

.close-button, .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: auto;
    margin: 10px 0;
    display: inline-block;
}

.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    backdrop-filter: blur(20px);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    animation: fadeInOverlay .25s ease-in-out;
}

.input {
    background-color: #f5f5f5; 
    color: #333333;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.modal-header {
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 232, 201);
    margin-bottom: 10px;
}

.ticket-body {
    font-size: 14px;
    color: rgb(255, 232, 201);
    margin-bottom: 20px;
    white-space: pre-line;
}

.ticket-metadata {
    color: rgb(255, 232, 201);
}

.fade-out-overlay {
    animation: fadeOutOverlay .5s ease-in-out forwards;
}

.fade-out-modal {
    animation: fadeOutModal .25s ease-in-out forwards;
}

.urgency {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
}

.urgency.low {background-color: rgb(89, 142, 89);}

.urgency.med {background-color: rgb(234, 152, 0);}

.urgency.high {background-color: rgb(206, 73, 73);}

.assign-dropdown {
    margin: 10px 0;
    padding: 3px 3px;
    border-radius: 5px;
    color: #000000;
    border: 1px solid #cccccc;
    width: auto;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.assign-dropdown:hover,
.assign-dropdown:focus {
    border-color: #999999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    outline: none;
}

.comment-input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #2d2d2d;
    color: #EAEAEA;
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    resize: vertical;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input:focus {
    border-color: #999; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4), 0 0 8px rgba(255, 255, 255, 0.5);
    outline: none;
}

@keyframes fadeInOverlay {
    from {
        opacity: 0;
        transform: scale(1)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes fadeOutOverlay {
    from {
        opacity: 1;
        /* transform: scale(1) */
    }
    to {
        opacity: 0;
        /* transform: scale(1) */
    }
}

@keyframes fadeInModal {
    from {
        opacity: o;
        transform: translate(-50%,-50%) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes fadeOutModal {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: translate(0%,-50%) scale(0.25);
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .close-button, .submit-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .modal-content h1, .ticket-body, label, .input, .comment-input, .assign-dropdown {
        font-size: smaller;
    }
}

@media (max-width: 480px) {
    .modal-content {
        padding: 15px;
    }

    .close-button, .submit-button {
        font-size: 12px;
    }

    .input, .assign-dropdown, .comment-input {
        font-size: 14px;
    }
}