.comments-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.comment-bubble {
    margin: 5px;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 14px;
    display: flex;
    color: rgb(255, 232, 201);
    align-items: center;
}

.comment-username {
    display: inline-block;
    /* font-weight: bold; */
    margin-bottom: 0px;
    color: rgb(255, 232, 201);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    margin-right: 10px;
}