.ticket-category-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.ticket-category {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    /*test*/
    background-color: rgba(82, 82, 82, 0.1);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.18);
    max-height: 600px;
    min-height: 500px;
    overflow: auto;
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(0,0,0,0.1);
    scrollbar-width: thin;
    width: 400px;
    min-width: 100px;
    max-width: 500px;
    /* flex-grow: 1; */
}

.ticket-category h2 {
    text-align: center;
}

.ticket-category ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.ticket-category ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d46363;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.trash {
    cursor: pointer;
    margin-left: 16px;
    color: #757575;
    font-size: 24px;
}

.trash:hover {
    color: #d32f2f;
}

.new-ticket-button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}
.new-ticket-button p {
    font-size: 15px;
}

.p-add-icon {
    display: flex ;
    align-items: center;
}

.add-icon {
    font-size: 20px;
}