.ticket-category-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.ticket-category {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(82, 82, 82, 0.1);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.18);
    max-height: 600px;
    min-height: 500px;
    overflow: auto;
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(0,0,0,0.1);
    scrollbar-width: thin;
    width: 400px;
    min-width: 100px;
    max-width: 500px;
}

.ticket-category h2 {
    text-align: center;
}

.ticket-category ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.ticket-category ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: 1px solid rgba(255, 255, 255,0.1);
}

.ticket-category h2,
.ticket-category ul li,
.trash,
.new-ticket-button p,
.add-icon {
    transition: all 0.2s ease;
}

.trash {
    cursor: pointer;
    margin-left: 16px;
    color: #757575;
    font-size: 24px;
}

.trash:hover {
    color: #d32f2f;
}

.new-ticket-button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}
.new-ticket-button p {
    font-size: 15px;
}

.new-ticket-button:hover {
    text-decoration: underline;
}

.p-add-icon {
    display: flex ;
    align-items: center;
}

.add-icon {
    font-size: 20px;
}

.ticket-category-status {
    text-align: center;
}

.ticket-category {
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.ticket-category:hover,
.ticket-item:hover {
    /* transform: translateY(-2px); */
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.05);
}

.ticket-item {
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.ticket-item:hover {
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .ticket-category-container {
        flex-direction: column;
        padding: 0;
    }

    .ticket-category {
        width: auto; 
        margin: 10px 0;
        max-height: none;
    }

    .ticket-category ul li,
    .trash,
    .new-ticket-button p,
    .add-icon {
        font-size: smaller;
    }
}

@media (max-width: 480px) {
    .ticket-category {
        padding: 15px;
    }
}