.ticket-category-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.ticket-category {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--ticket-category-background);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--ticket-container-shadow);
    border: 1px solid var(--ticket-category-border);
    max-height: 600px;
    min-height: 500px;
    overflow: auto;
    scrollbar-color: var(--ticket-scroll-bar);
    scrollbar-width: thin;
    width: 400px;
    min-width: 100px;
    max-width: 500px;
    color: var(--text-color);
}

.ticket-category h2 {
    text-align: center;
    color: var(--text-color);
}

.ticket-category ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.ticket-category ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ticket-li-background);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: 1px solid var(--ticket-li-background);
    color: var(--text-color);
}

.ticket-category h2,
.ticket-category ul li,
.trash,
.new-ticket-button p,
.add-icon,
.ticket-category,
.ticket-item {
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}


.trash {
    cursor: pointer;
    margin-left: 16px;
    color: var(--text-color);
    font-size: 24px;
}

.trash:hover {
    color: #d32f2f;
}

.new-ticket-button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}
.new-ticket-button p {
    font-size: 15px;
}

.new-ticket-button:hover {
    text-decoration: underline;
    color: var(--text-color);
}

.p-add-icon {
    display: flex ;
    align-items: center;
    color: var(--text-color);
}

.add-icon {
    font-size: 20px;
    color: var(--text-color);
}

.ticket-category-status {
    text-align: center;
}

.ticket-category:hover {
    box-shadow: var(--ticket-cat-hover-shadow);
    background-color: var(--ticket-cat-hover-color);
}

.ticket-item:hover {
    transform: translateY(-2px);
    background-color: var(--ticket-li-background-hover);
}

.user-drop-down-container {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .ticket-category-container {
        flex-direction: column;
        padding: 0;
    }

    .ticket-category {
        width: auto; 
        margin: 10px 0;
        max-height: none;
    }

    .ticket-category ul li,
    .trash,
    .new-ticket-button p,
    .add-icon {
        font-size: smaller;
    }
}

@media (max-width: 480px) {
    .ticket-category {
        padding: 15px;
    }
}

.ticket-category::-webkit-scrollbar {
    width: 10px;
}

.ticket-category::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

.ticket-category::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}