.navbar-container {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgba(255, 255, 255, 0.229); */
    background-color: rgba(30, 38, 56, 0.85);
    backdrop-filter: blur(36px);
    box-shadow: 0 0 10px rgba( 0, 0, 0, .5);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-logo {
    font-size: 40px;
    text-align: center;
    display: flex;
    color: rgb(255, 232, 201);
    padding-left: 40px;
    text-decoration: none;
}


.nav-options {
    font-size: 20px;
    text-align: right;
    display: flex;
    color: rgb(255, 232, 201);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border: .05rem solid;
    border-radius: 10px;
    gap: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.nav-option-div {
    display: flex;
    padding-left: 10px;
    padding-right: 40px;
    text-decoration: none;
}

.nav-option-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-option-ul li {
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.nav-option-ul li:hover {
    background-color: rgba(255,255,255,0.75);
    border-radius: 10px;
}